# Application
NODE_ENV=development
PORT=4000
API_URL=http://localhost:4000
WEB_URL=http://localhost:5173

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/school_management?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Security
JWT_ACCESS_SECRET="dev-super-secret-access-key-change-in-production-min-32-chars"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="dev-super-secret-refresh-key-change-in-production-min-32-chars"
JWT_REFRESH_EXPIRATION="7d"

# Default Super Admin Seed
DEFAULT_ADMIN_EMAIL="admin@schoolerp.com"
DEFAULT_ADMIN_PASSWORD="AdminPassword123!"
DEFAULT_SCHOOL_NAME="Greenwood International Academy"
DEFAULT_SCHOOL_CODE="GIA-2026"
